.register, .buttonRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputsRegister {
    margin: 1vh 0;
    width: 70vw;
}

input::placeholder {
    color: #AEA6A6;
}

#user::before, .password::before, #email::before, #petsName::before, #petsSpecie::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .1rem;
}

#user::before {
    background-image: url('../../assets/imgs/user.png');
}

#email::before {
    background-image: url('../../assets/imgs/mail.svg');
}

#petsName::before {
    background-image: url('../../assets/imgs/petsName.svg');
}

#petsSpecie::before {
    background-image: url('../../assets/imgs/petsSpecie.svg');
}

.password::before {
    background-image: url('../../assets/imgs/lock.png');
}

.buttonRegister {
    margin-top: 11.5rem;
}

.buttonRegister p{
    color: #BBBBBB;
    margin-top: .5rem;
    font-size: .5rem;
}