header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5A405;
    margin: 5vh 0;
    font-family: "Krona One", sans-serif;
    font-size: 2rem;
}

header h1::after {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: .5rem;
    background-image: url('../../assets/imgs/logoPets.svg');
}